@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  padding: 0 80px;
  width: 100%;
}
#header {
  transition: all 0.5s linear;
  background-color: #fff;
}
#header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header-top {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  color: #fff;
  font-size: 14px;
}
.header-contact {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-contact .phone {
  text-decoration: none;
  color: #fff;
}
.account {
  display: flex;
  align-items: center;
  gap: 10px;
}
.account a {
  text-decoration: none;
  color: #fff;
}
.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a img {
  max-width: 100%;
  height: 100px;
}
.search {
  display: flex;
  align-items: center;
}
.search .search-control {
  width: 500px;
  height: 50px;
  display: block;
  padding: 15px 10px;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  caret-color: red;
  border: 0;
  box-shadow: inset 0 0 5px rgb(73, 72, 72);
}
.search-btn {
  outline: none;
  border: 0;
  background-color: #ff6651;
  width: 50px;
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cart {
  display: flex;
  align-items: center;
  gap: 2px;
  border: 3px solid #999;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}
.cart:hover {
  background-color: #ff6651;
}
.cart a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}
.total-cart {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid #ff6651;
  color: #ff6651;
  background-color: #fff;

  border-radius: 100%;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d0d0d0;
  border-bottom: 3px solid #ff6651;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu .menu-item .menu-link {
  text-decoration: none;
  display: block;
  padding: 15px 10px;
  color: #000;
  font-weight: 500;
  transition: all 0.2s linear;
}
.menu .menu-item .menu-link:hover {
  background-color: #ff6651;
  color: #fff;
}

/* slider */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-button-next.slider-next,
.swiper-button-prev.slider-prev {
  color: #ff6651;
  cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: #fff;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ff6651 !important;
}

.title {
  margin-top: 50px;
  text-align: center;
  position: relative;
}
.title::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 60px;
  background-color: #ff6651;
  z-index: -1;

  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
}
.product-new {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px 10px;
  width: 100%;
  padding-bottom: 50px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px 10px;
  width: 100%;
  padding-bottom: 50px;
}
.product-list .product-image a img {
  width: 100%;
  height: 250px;
}

.product-item {
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
  transition: all 0.2s linear;
}

.product-new .product-item:hover {
  transform: translateY(-20px);
}
.product-image {
  width: 100%;
  position: relative;
}
.percent_discount {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #ff6651;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image a img {
  width: 100%;
  height: 100%;
}
.product-content {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.mua-ngay {
  position: absolute;
  z-index: 1;
  bottom: -50px;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 0;
  background-color: #ff6651;
  text-align: center;
  transition: all 0.2s linear;
}
.product-item:hover .mua-ngay{
  bottom: 0;
}
.product-name {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  display: -webkit-box;
  /* text-overflow: ellipsis; */
  height: 40px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-box-pack: inherit;
  overflow: hidden;
}
.price-product {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.price {
  color: red;
  font-weight: 500;
}
.quantity-sold {
  font-weight: 500;
  color: #b0b0b0;
}

#footer {
  color: #fff;
  background-color: #000000ae;
  border-top: 5px solid #ed1d24;
}
.footer-bottom {
  padding: 20px;
  background-color: #111;
}
.footer-bottom p {
  font-size: 14px;
  text-align: center;
  color: #838282;
}
.footer-list {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  gap: 0 30px;
}
.footer-item {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}
.footer-heading {
  position: relative;
  width: 100%;
}
.footer-heading::after {
  position: absolute;
  content: "";
  height: 4px;
  background-color: #ff6651;
  width: 80px;
  top: calc(100% + 5px);
  left: 0;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.footer-link {
  text-decoration: none;
  color: #f9f9f9;
}

.footer-link:hover {
  color: #ed1d24;
}

/* page-contact */
.contact-heading {
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #d6d6d6;
}
.contact-form {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  gap: 0 80px;
}
.contact-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.form-group .contact-input,
.form-group textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d8d8d8;
  padding: 10px 15px;
}
.form-group .contact-input:focus,
.form-group textarea:focus {
  border: 1px solid #ff6651;
  box-shadow: 0 0 5px #ff6651;
}
.form-submit input {
  outline: none;
  border: 0;
  background-color: #ff6651;
  padding: 10px 15px;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
}

.contact-right {
  width: 40%;
}
.contact-about {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.header-about-contact {
  text-transform: uppercase;
  position: relative;
}
.header-about-contact::after {
  position: absolute;
  content: "";
  height: 5px;
  top: calc(100% + 5px);
  left: 0;
  width: 80px;
  background-color: #ff6651;
}
.contact-content {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
.contact-map {
  margin-bottom: 50px;
  width: 100%;
}
.contact-map iframe {
  width: 100%;
}

/* page product */
.product-main {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}
.product-wrapper {
  margin-top: 50px;
  display: flex;
  gap: 0 30px;
}
.category-wrapper {
  width: 20%;
}
.product-main {
  width: 80%;
}
.product-heading {
  background-color: #ff6651;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.category-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 20px 0; */
  background-color: #f1f1f1;
  border: 1px solid #838282;
}
.category-heading {
  padding: 20px 20px;
  border-bottom: 1px solid #838282;
  background-color: #ff6651;
  color: #fff;
}
.category-list {
  display: flex;
  flex-direction: column;
}
.category-item .category-link {
  display: block;
  text-decoration: none;
  color: #111;
  padding: 15px 20px;
  border-bottom: 1px solid #838282;
  background-color: #fff;
}
.category-item .category-link:hover {
  color: #ed1d24;
  background-color: #ffbab1;
}
